<div class="container">
    <div class="row">
        <div class="col-sm">
        <h2>Desejos</h2>
        </div>
        <div class="right">
        <a class="nav-link" href="home">Fechar</a>
        </div>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>TV</td>
            <td>
                <dw-button (click)="openModal(10)" label='Oferta'></dw-button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Celular</td>
            <td>
                <dw-button (click)="openModal(20)" label='Oferta'></dw-button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Fone</td>
            <td>
                <dw-button (click)="openModal(30)" label='Oferta'></dw-button>
            </td>
        </tr>
    </tbody>
</table>
